{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <h2 class="display-5">Liste des cours</h2>
            <div class="col-md-10 offset-1">
                <table id="table-admin" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Création</th>
                            <th>Durée</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>{{ course.name }}</td>
                                <td>{{ course.price }}</td>
                                <td>{{ course.createdAt|date('d/m/Y') }}</td>
                                <td>{{ course.duration }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
