{% extends 'base.html.twig' %}

{% block title %}Webpack - Bootstrap{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-10 offset-1">
                <h1 class="display-4 text-info">Webpack Bootstrap</h1>
                <p class="para-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut fugit quae quam, tempora ullam velit voluptate voluptatum? Dignissimos, voluptatem?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur debitis eaque fugiat
                    illum minima.</p>
            </div>
        </div>
    </main>
{% endblock %}
