{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <!-- Categories -->
        <section id="courses">
            <h2 class="my-5 text-black-50">Toutes nos catégories</h2>
            <div class="row">
                <!-- FILTERIZER CONTROLS -->
                <div class="col-md-12 controls-filter">
                    <ul>
                        <!-- For filtering controls add -->
                        <li data-filter="all" class="btn btn-outline-primary"> All items </li>
                        {% for category in categories %}
                            <li data-filter="{{ category.id }}" class="btn btn-outline-primary"> {{ category.name }} </li>
                        {% endfor %}

                    </ul>
                </div>
                <!-- FILTERIZER COURSES -->
                <div class="col-md-12 filter-container">
                    <!-- Card -->
                    {% for course in courses %}
                        <div class="col-md-4 filtr-item" data-category="{{ course.category.id }}" data-sort="value">
                            <div class="card m-3" style="min-height: 480px !important;">
                                <div class="card-header bg-light">
                                    <h5 class="text-center m-0">{{ course.name }}</h5>
                                </div>
                                <div class="card-body">
                                    <img alt="" src="{{ asset('/sections/') ~ course.image }}">
                                    <p class="card-text">
                                    <h5 class="card-subtitle text-muted my-2">{{ course.duration }} minutes</h5>
                                    <h5 class="card-subtitle text-muted my-2">{{ course.price }} €</h5>
                                    <p>{{ course.smallDescription }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- End cards -->
                </div>
            </div>
        </section>
        <!-- End Categories -->
    </main>
{% endblock %}