{% extends 'base.html.twig' %}

{% block title %}Hello ChartController!{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <h2 class="display-5">Les ventes de la société</h2>
            <div class="col-md-8 offset-2">
                {{ render_chart(chart) }}
            </div>
        </div>
    </main>
{% endblock %}
