// Bootstrap theme-color
$primary: #312921;
$secondary: #909CAC;
$success: #A36C22;
$info: #9DB802;
$light: rgba(210, 185, 185, 0.49);
$body-bg: #ececec;

// Custom variables
$paragraph-color: #65B2C6;

// Custom rules
.para-color {
  color: $paragraph-color;
}

// Filterizer //
.filtr-item img {
  width: 100%;
}

